* {
    padding: 0;
    margin: 0;
}

nav {
    width: auto;
    height: 80px;
    background-color: #35424a;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 60px;
    padding-right: 60px;
    border-bottom: 5px solid #ea491d;
}

.logo {
    color: white;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.span {
    color: #ea491d;
}

.links a {
    margin-left: 40px;
    text-decoration: none;
    color: aliceblue;
    text-transform: uppercase;
}

.links a:hover {
    color: #ea491d;

}

main {
    width: auto;
    height: 560px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(/charger\ edited.jpg);
    background-size: 90%;
}

main h1 {
    font-size: 30px;
    margin-bottom: 20px;
    color: white;
    margin-bottom: 70px;

}

main p {
    color: #f4f4f4;
    padding-left: 60px;
    padding-right: 60px;
    margin-bottom: 80px;
    font-size: 20px;
}

section {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* border: 2px solid black; */
    background-color: #35424a;

}

section p {
    color: white;
    font-size: 25px;
    font-weight: 50px;
}

section input {
    padding: 10px;
    border: none;
    border-radius: 5px;
}

section button {
    padding: 10px;
    border-radius: 5px;
    border: 0;
    background-color: #ea491d;
    color: white;
}

aside {
    width: auto;
    height: 560;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 350px;
    margin-top: 10px;
    background-color: whitesmoke;
}

aside img {
    height: 250px;
    width: 250px;
}

.card {
    height: 300px;
    width: 300px;
    /* border: 1px solid rgb(180, 178, 178); */
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    background-color: white;
}

aside h3 {
    margin: 20px;
    text-align: center;
}

aside p {
    text-align: center;
    font-size: 15px;
    font-weight: lighter;
}

footer {
    text-align: left;
    background-color: #ea491d;
    color: #f4f4f4;
    width: auto;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.model {
    text-align: center;
    font-weight: bolder;
    margin-top: 10px;
    font-size: 30px;
}

.izzy :hover {
    color: #ea491d;
}

aside :hover {
    color: #ea491d;
    background-color: rgb(238, 238, 238);
}